.cta-button {
  width: scaleVal(60);
  height: scaleVal(25);
  background: rgba(0, 0, 0, 0.3);
  border-radius: scaleVal(30);
  cursor: pointer;
  @include flex-center;
  user-select: none;

  &--outline {
    background-color: white;
    border: 1px solid $dark;

    span {
      color: $dark;
    }
  }

  &__text {
    @include text1;

    &--dark {
      @include text-dark;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

.cta-card-block {
  display: flex;
  height: scaleVal(650);

  &__left {
    display: flex;
    flex: 10;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex: 13;

    &__top {
      display: flex;
      flex: 35;
    }

    &__bottom {
      display: flex;
      flex: 29;

      .cta-card:first-child {
        flex: 19;
      }
      .cta-card:last-child {
        flex: 13;
      }
    }
  }
}

.cta-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: scaleVal(40);
  margin: scaleVal(5);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &--bottom-left {
      margin-top: auto;
      align-items: flex-start;
    }
  }

  &__category {
    @include text2;
    margin-bottom: scaleVal(22);
  }
  &__title {
    @include text3;
    margin-bottom: scaleVal(13);
  }
  &__big-title {
    @include text4;
    margin-bottom: scaleVal(20);
  }
  &__details {
    @include text5;
    margin-bottom: scaleVal(13);
  }
}